@import "tailwindcss";

@theme {
  --color-primary: #4d6bfe;
}

html {
  @apply scroll-smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #212121;
}